{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "powershell",
    "AutotaskAbillityIdUdfLabel": "aBillity Company ID",
    "AutotaskSyncFlagUdfLabel": "Sync with aBillity",
    "AbillitySystemInformation": "<YOUR_SYSTEM_INFORMATION>",
    "AbillityUserName": "<YOUR_ABILLITY_USERNAME>",
    "AbillityPassword": "<YOUR_ABILLITY_PASSWORD>"
  }
}
